<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加留言</title>
</head>
<body>
    <center>
        <table>
            <form action="/insert" method="post">
                <tr>
                    <td>昵称:</td>
                    <td><textarea name="nikename" id="1" cols="30" rows="1">昵称不超过6位</textarea></td>
                </tr>
                 <tr>
                     <td>留言信息:</td>
                     <td><textarea name="info" id="2" cols="30" rows="10">请留下你的信息</textarea></td>
                 </tr>
                <tr>
                    <th colspan="2">
                        <button>添加</button>
                    </th>
                </tr>

            </form>
        </table>
    </center>
</body>
</html>