<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改留言</title>
</head>
<body>
    <center>
        <table>
            <form action="/xiugai" method="post">
                <tr>
                    <td>昵称:</td>
                    <td><textarea name={{ data.id }} id="1" cols="30" rows="1">{{ data.nikename }}</textarea>昵称不超过6位</td>
                </tr>

                 <tr>
                     <td>留言信息:</td>
                     <td><textarea name="info" id="2" cols="30" rows="10">{{ data.info }}</textarea></td>
                 </tr>

                <tr>
                    <th colspan="2">
                        <button>确认修改</button>
                    </th>
                </tr>
            </form>
        </table>
    </center>
</body>
</html></title>
</head>
<body>

</body>
</html>